.start-page {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    gap: 30px;
}

.start-accounts {
    width: 80%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    margin-left: 2%;
    margin-top: 5%;

    gap: 10px;

    list-style: none;
}

.bizum-form-box {
    height: 400px;
    width: 420px;

    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    gap: 20px;

    border-radius: 10px;

    background: var(--bizum-bg);

    border: 1px solid var(--main-border);
    
    transition: .5s;
}

.bizum-form-box:hover {
    transition: .5s;

    border: 1px solid var(--main-color2);
}

.bizum-title {
    font-size: 34px;
    font-weight: 400;

    user-select: none;
}

.bizum-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    gap: 10px;
}

.bizum-input-box input {
    width: 200px;
    height: 30px;

    padding: 0 10px;

    background: transparent;
    border: 2px solid var(--main-input-border);
    border-radius: 8px;

    font-size: 12px;
    font-family: 'Lexend-Light';

    outline: none;

    transition: .5s;
}

.bizum-input-box input:hover {
    transition: .5s;

    border: 2px solid var(--main-input-border-hover);
}

.bizum-input-box input:focus {
    transition: .5s;

    border: 2px solid var(--main-color2);
}

.bizum-button, .account-button {
    width: 120px;
    height: 35px;

    margin-top: 5px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    background: var(--main-color2);
    border: none;
    border-radius: 8px;

    padding: 2px;
    
    font-size: 12px;
    font-family: 'Lexend-Bold';

    outline: none;

    transition: .5s;
}

.bizum-button:hover, .account-button:hover {
    cursor: pointer;
    transition: .5s;

    background: var(--main-color3);
    transform: translateY(-2px);
    filter: drop-shadow(0px 0px 10px var(--main-color3-bright))
}

.state-text {
    position: absolute;

    visibility: hidden;

    bottom: 20px;

    font-size: 12px;
    font-family: 'Lexend-ExtraLight';

    user-select: none;

    transition: .5s;
}

.state-text[state="success"] {
    color: #59ec14;
}

.state-text[state="error"] {
    color: #ff3535;
}